/* General classes for page */

body {
  background-image: url("../images/grid.jpg");
  font-family: 'Open Sans';
}


/* Footer */

#footer {
  background-color: #222;
  color: #aaaaaa;
  padding-top: 3em;
  padding-bottom: 3em;
}

#footer a {
  color: #cccccc;
}

#footer a:hover {
  color: white;
}

.social a {
  font-size: 24px;
}

.social a:hover {
  text-decoration: none;
}

/* Lead with big image */

.wrapper {
  background-image: url('../images/background/background.jpg');
  height: 650px;
  background-size: cover;
  padding-top: 150px;
  text-align: center;
  color: white;
}

.lead h1 {
  font-size: 72px;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
  font-weight: normal;
}

.lead h2 {
  background: rgba(0, 0, 0, .4);
  display: inline-block;
  padding: 0.2em;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 2em;
}

/* Vertical spacer to help content breathe */

.vertical-spacer {
  height: 8em;
}

/* Some padding for feature images */

.feature img {
  margin-bottom: 2em;
}

.feature {
  color: #444444;
  font-weight: 300;
  letter-spacing: 1px;
}

/* How to override the default Bootstrap colors */

.btn-primary {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.btn-primary:hover {
  background-color: #16a085;
  border-color: #16a085;
}

/* How to override the default Bootstrap navbar */

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus,
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
